<div class="right_col" role="main">
          <div class="">
            <div class="row top_tiles">
              
              <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="tile-stats">
                  <div class="icon"><i class="fa fa-user"></i></div>
                  <div class="count">{{NVQuanly}}</div>
                  <h3>Nhân Viên Quản Lý</h3>
                  
                </div>
              </div>
              <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="tile-stats">
                  <div class="icon"><i class="fa fa-user"></i></div>
                  <div class="count">{{NVDatve}}</div>
                  <h3>Nhân Viên Đặt Vé</h3>
                
                </div>
              </div>
               <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="tile-stats">
                  <div class="icon"><i class="fa fa-user"></i></div>
                  <div class="count">{{NVThanhtoan}}</div>
                  <h3 style="{font-size: 10px;}">Nhân Viên Thanh Toán</h3>
                
                </div>
              </div>
              <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="tile-stats">
                  <div class="icon"><i class="fa fa-user"></i></div>
                  <div class="count">{{Taixe}}</div>
                  <h3>Tài Xế</h3>
                 
                </div>
              </div>
            </div>
</div>
</div>
