 <div class="right_col" role="main">
          <div class="">
            

            <div class="clearfix"></div>

            <div class="row">
              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                  <div class="x_title">
                    <h2><i>DANH SÁCH GHẾ XE</i></h2>
                    <ul class="nav navbar-right panel_toolbox">
                      <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                      </li>
                      <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                        <ul class="dropdown-menu" role="menu">
                          <li><a href="#">Settings 1</a>
                          </li>
                          <li><a href="#">Settings 2</a>
                          </li>
                        </ul>
                      </li>
                      <li><a class="close-link"><i class="fa fa-close"></i></a>
                      </li>
                    </ul>
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">
                  
                    <p class="text-muted font-13 m-b-30">
                     
                    </p>

                  
                  
                    <button style="float: right;" class="btn btn-primary" type="submit"><a href="/admin/listghe/addghe" style="text-decoration: none;color:white">Thêm Ghế</a></button>
                 
                 <!-- tim nhan vien by CMND -->
                
                        


                    <table id="datatable" class="table table-striped table-bordered">
                      <thead>
                        <tr>
                          <th>Mã Ghế</th>
                          <th>Mã Xe</th>
                        
                        
                        </tr>
                      </thead>


                      <tbody>
                        {{#each ListGhe}}
                        <tr>
                          <td>{{this.ViTriGhe}}</td>
                          <td>{{this.MaXe}}</td>
                         
                        
                          
                        </tr>
                        {{/each}}
                       
                      </tbody>
                    </table>
                  </div>
                 
                </div>
                <p class="notify" style="color: red;font-size: 18px;"></p>

              </div>

              </div>

              </div>

        </div>


      <!--  <script
  src="https://code.jquery.com/jquery-2.2.4.js"
  integrity="sha256-iT6Q9iMJYuQiMWNd9lDyBUStIq/8PuOW33aOqmvFpqI="
  crossorigin="anonymous"></script>
        <script type="text/javascript">

                  $(document).ready(function() {

                    var frm = $('#searchnhanvien');
                    var bodytag=$('body');
                    var urlimage='/images/loadgif.gif';


                    // var data = frm.serialize();

                    frm.submit(function(e){

                       e.preventDefault(); // avoid to execute the actual submit of the form.
    
                       //hiệu ứng asyn

 
                      $('body').append('<div id="requestOverlay" class="request-overlay"></div>');
                      $("#requestOverlay").show();/*Show overlay*/

                          $.ajax({

                              type:'GET',
                              url:'/admin/listnhanvien/finnvbycmnd?tbcmnd='+$('#tbcmnd').val(),
                              
                              dataType: 'json', 
                              async: true,
                               contentType: 'application/json; charset=utf-8',

                            
                           
                              success:function(result)
                              {
                               
                               var tbodyobj=$('tbody');
                               var notify=$('.notify');


                                if(result == null)
                                {
                                 notify.empty();
                                notify.append('Không tìm thấy nhân viên nào');

                                  tbodyobj.empty();
                               

                                  


                                }
                                else{
                                  notify.empty();

                                  tbodyobj.empty();
                                  tbodyobj.append('\
                                    <tr>\
                          <td>'+result.MaNhanVien+'</td>\
                          <td>'+result.TenNhanVien+'</td>\
                          <td>'+result.GioiTinhNV+'</td>\
                          <td>'+result.DiaChiNV+'</td>\
                          <td>'+result.SoCMNDNV+'</td>\
                          <td>'+result.NgaySinhNV+'</td>\
                          <td>'+result.DienthoaiNV+'</td>\
                          <td>'+result.TenDangNhapNV+'</td>\
                          <td>'+result.LoaiNhanVien+'</td>\
                          <td>'+result.Luong+'</td>\
                          <td>'+result.BangLai+'</td>\
                          <td>'+result.KhaNangLaiDuongDai+'</td>\
                          <td>\
                            <a href="#" class="btn btn-success">Xem</a>\
                            <a href="/admin/listnhanvien/update/nv='+result.MaNhanVien+'" class="btn btn-warning">Sửa</a>\
                          </td>\
                        </tr>\
                                    ');

                                  // /c/console.log(result[0].DiaChiNV);

                                }
                              
                              },
                              error:function(err)
                              {
                                console.log(err);
                              },
                              complete:function()
                              {
                                 $("#requestOverlay").remove();/*Remove overlay*/
                              }
                          });                 
                        
                    });

                   
                  });
          </script>

 -->